* {
    background-color: #c0bfbf;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    border-radius: 15px;
}

.recipe-links {
    display: flex;
}

.burger {
    margin-left: 10px;
    margin-right: 10px;
}

.kebab {
    margin-left: 10px;
    margin-right: 10px;
}

.lasagna {
    margin-left: 10px;
    margin-right: 10px;
}