@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    background-color: #ddd8d8;
    font-family: "Lato", sans-serif;
}

h1 {
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-size: 60px;
}

.home-paragraph {
    font-size: 25px;
    font-weight: 700;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

div img {
    width: 380px;
    height: 350px;
    border-radius: 15px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 400px;
    text-align: center;
}

#logo {
    width: 100px;
    height:100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 0;
    padding-right: 0;
}

.item img:hover {
    transform: scale(1.05);
    transition: all ease ;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(92, 148, 232);
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
    width: 420px;
}

.right-top {
    border: 1px solid #292929;
    border-radius: 10px;
    height: 350px;
    padding-left: 15px;
    padding-right: 15px;

}

.steps-container {
    margin-top: 30px;
    border: solid 1px #474747;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    width: auto;
    height: 390px;
    
}

ul {
    list-style-type: none;
    text-decoration: none;
}

.ingredients-container{
    border-radius: 10px;
    background-color: #d99986;
    padding:20px;
    flex-grow: 3;
    height: 350px;
}

#ingredient {
    height: 440px;
}

#steps {
    height: 480px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

nav a {
    font-family: "Amatic SC", sans-serif;
    font-size: 35px;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    color: #000000;
}

nav a:hover {
    color: #ffa500;
}

.logo {
    border-radius: 15px;
}